{% extends 'base.html' %}

{% block content %}


    <div class="src-title-layout bg-img js-auto-height">
        <div class="overlay">
        </div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-9  fadeInUp animated text-center">
                    <div class="src-page">
                        <ul>
                            <li>
                                Home <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </li>
                            <li>
                                Tours List <span></span>
                            </li>
                        </ul>
                    </div>
                    <h1 class="h1">Tours List</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="src-ftco-search-tour py-5">
        <div class="container py-5">
            <div class="ftco-search">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#" class="search-property-1">
                            <div class="row no-gutters">
                                <div class="col-md d-flex">
                                    <div class="form-group p-4">
                                        <label>Destination</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="fa fa-search"></span></div>
                                            <input type="text" class="form-control" placeholder="Search place">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md d-flex">
                                    <div class="form-group p-4">
                                        <label>Check-in date</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <input type="text" class="form-control checkin_date" placeholder="Check In Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md d-flex">
                                    <div class="form-group p-4">
                                        <label>Check-out date</label>
                                        <div class="form-field">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <input type="text" class="form-control checkout_date" placeholder="Check Out Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md d-flex">
                                    <div class="form-group p-4">
                                        <label>Price Limit</label>
                                        <div class="form-field">
                                            <div class="select-wrap">
                                                <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                                <select class="form-control">
                                                    <option value="">$100</option>
                                                    <option value="">$10,000</option>
                                                    <option value="">$50,000</option>
                                                    <option value="">$100,000</option>
                                                    <option value="">$200,000</option>
                                                    <option value="">$300,000</option>
                                                    <option value="">$400,000</option>
                                                    <option value="">$500,000</option>
                                                    <option value="">$600,000</option>
                                                    <option value="">$700,000</option>
                                                    <option value="">$800,000</option>
                                                    <option value="">$900,000</option>
                                                    <option value="">$1,000,000</option>
                                                    <option value="">$2,000,000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md d-flex">
                                    <div class="form-group d-flex w-100">
                                        <div class="form-field w-100 align-items-center d-flex">
                                            <input type="submit" value="Search" class="align-self-stretch btn-search form-control btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tour-packed py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 heading-section text-center">
                    <span class="subheading">Destination</span>
                    <h2 class="under-subheading mb-4">Tour Destination</h2>
                </div>
            </div>
            <div id="parentHorizontalTab" class="horizon-tab-payment">
                <div class="resp-tabs-container hor_1">
                    <div>
                        <div class="row d-flex">
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed vt-packed">
                                        <span class="price-packed">$100/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">3 DAYS TOUR</p>
                                        <h5 class="">Vung Tau Beach</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Beach,Banh Khot,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed nt-packed">
                                        <span class="price-packed">$200/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">4 DAYS TOUR</p>
                                        <h5 class="">Nha Trang Beach</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Beach,Sea Food,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 1
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="detail-tour-dl.html" class="src-packed dl-packed">
                                        <span class="price-packed">$300/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">4 DAYS TOUR</p>
                                        <h5 class="">Dalat</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Hill,Photograph,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 1
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Mountains
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed vhl-packed">
                                        <span class="price-packed">$1000/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">8 DAYS TOUR</p>
                                        <h5 class="">Ha Long Bay</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Islands,Wonders,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-destination"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed pq-packed">
                                        <span class="price-packed">$100/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">3 DAYS TOUR</p>
                                        <h5 class="">Phu Quoc</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Beach,Food,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed sapa-packed">
                                        <span class="price-packed">$100/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">3 DAYS TOUR</p>
                                        <h5 class="">Sapa</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Beach,Food,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row d-flex">
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed vt-packed">
                                        <span class="price-packed">$100/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">3 DAYS TOUR</p>
                                        <h5 class="">Vung Tau Beach</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Beach,Banh Khot,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed nt-packed">
                                        <span class="price-packed">$200/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">4 DAYS TOUR</p>
                                        <h5 class="">Nha Trang Beach</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Beach,Sea Food,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 1
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed dl-packed">
                                        <span class="price-packed">$300/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">4 DAYS TOUR</p>
                                        <h5 class="">Dalat</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Hill,Photograph,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 1
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Mountains
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed vhl-packed">
                                        <span class="price-packed">$1000/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">8 DAYS TOUR</p>
                                        <h5 class="">Ha Long Bay</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Islands,Wonders,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 animated fadeInUp">
                                <div class="packed-wrapper mb-4">
                                    <a href="#" class="src-packed pq-packed">
                                        <span class="price-packed">$100/person</span>
                                    </a>
                                    <div class="decription-packed">
                                        <p class="subheading ">3 DAYS TOUR</p>
                                        <h5 class="">Phu Quoc</h5>
                                        <p class="specialties">
                                            <span class="material-icons-outlined">
                                                explore
                                            </span>Beach,Food,Views
                                        </p>
                                        <ul class="list-decription">
                                            <li>
                                                <i class="flaticon-beer"></i> 2
                                            </li>
                                            <li>
                                                <i class="flaticon-legs"></i> 3
                                            </li>
                                            <li>
                                                <i class="flaticon-wave"></i> Near Beach
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <ul class="resp-tabs-list hor_1">
                        <!-- <li><i class="fa fa-angle-left"></i></li> -->
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <!-- <li><i class="fa fa-angle-right" aria-hidden="true"></i></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>



{% endblock %}